APP_NAME="News Portal API (FastAPI)"
APP_ENV=local
APP_TIMEZONE=Asia/Dhaka
APP_URL=

DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=agamir_somoy
DB_USERNAME=postgres
DB_PASSWORD=

FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_ENDPOINT=
AWS_USE_PATH_STYLE_ENDPOINT=false
AWS_URL=
